* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  color: #444444;
}

/* Website Sections */
.header {
  background-color: #98D4BB;
  background-image: linear-gradient(to left bottom, #9ad9db, #97d8d4, #96d7cc, #96d6c4, #98d4bb);
  color: white;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about {
  padding: 2%;
}

.about-description {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.features {
  padding: 3%;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  color: #444444;
}

.cta {
  background-color: #3587A4;
  background-image: linear-gradient(to top, #3587a4, #398eac, #3d94b3, #429bbb, #46a2c3);
  color: white;
}

.web-version {
  padding: 1%;
}

.footer {
  padding: 1%;
  background-color: #444444;
  color: white;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
