h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
  background-color: #80b176;
  background-image: linear-gradient(to left bottom, #80b176, #8bb781, #95be8c, #a0c497, #aacba2);
  color: white;
}

/* Website Sections */
.parallax {
  background-image: url("img/shmenna.png");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxCity{
  background-image: url("img/city.png");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxRolls{
  background-image: url("img/rolls.png");
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  margin-top: 0;
  text-shadow: 2px 2px 4px #000000;
}

.intro {
  padding: 7%;
}

.about {
  padding: 2%;
}

.about-description{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}

.features {
  padding: 3%;
}

.features ul{
  display: inline-block;
  text-align: left;
}

.features li{
  font-size: 1.25rem;
  font-weight: bolder;
  margin: 10px 0;
}

.itch-embed{
  margin-bottom: 50px;
}

.footer {
  padding: 1%;
}

@media only screen and (max-device-width: 1024px){
  .parallax{
    background-attachment: scroll;
  }
  .parallaxCity{
    background-attachment: scroll;
  }
  .parallaxRolls{
    background-attachment: scroll;
  }
}
