h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin: 0;
  color: white;
}

/* Website Sections */
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100px;
  height: auto;
  border-radius: 20%;
}

.description {
  text-align: left;
  line-height: 2;
  max-width: 40ch;
  margin: 1rem auto 1rem auto;
}

.button {
  background-color: #F56476;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  font-family: 'Lato', sans-serif;
}

.button:hover {
  background-color: #F33F54;
  color: white;
}

.google {
  background-color: #16DB93;
  color: white;
  border: 2px solid white;
}

.google:hover{
  background-color: #f2f2f2;
  color: #444444;
}

.header {
  background-color: #8DB2CE;
  padding: 1rem;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.features {
  background-color: #8DB2CE;
  padding: 1rem;
}

.flex-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 1rem;
  margin: 2px;
  word-break: break-word;
  hypens: auto;
  text-align: left;
}

.cta {
  background-color: #16DB93;
  padding: 2rem;
}

.web-version {
  background-color: #8DB2CE;
  padding: 1rem;
}

.footer {
  padding: 1rem;
  background-color: #2B4B64;
}

@media screen and (max-width: 600px){
  .flex-container{
    display: block;
  }
}
